{% extends 'base.html' %}
{% load static %}

{% block title %}Notifications - Sustain+Gain{% endblock %}

{% block content %}
    {% if notifications %}
        <form action="{% url 'notifications:mark_all_as_read' %}" method="post" class="py-1">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Mark all as read</button>
        </form>
        <ul class="notifications px-0">
            {% for notice in notifications %}
                {% include 'notifications/notice.html' %}
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">No notifications</p>
    {% endif %}
    <script>
        if (window.location.search === '?tour=notifications') {
            document.querySelector('.messages').remove();
            window.onload = function () {
                introJs().setOptions({
                    scrollToElement: false,
                    steps: [{
                        title: '<img src="{% static 'SusSteve.png' %}" alt="" width="60" height="60" style="margin-right:1em">' +
                            'Notifications',
                        intro: 'On this page you can see all your notifications such as friend requests and league invites'
                    },
                        {
                            element: document.querySelector('.notification'),
                            title: '<img src="{% static 'SusSteve.png' %}" alt="" width="60" height="60" style="margin-right:1em">',
                            intro: 'It looks like you have a friend request from me! Let\'s go accept it!',
                        },
                    ]
                }).setOptions({
                    nextToDone: true,
                    doneLabel: 'Next'
                }).oncomplete(function () {
                    window.location.href = "{% url 'friends:list' %}?tour=friends";
                }).start();
            }
        }
    </script>
{% endblock %}