{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Login</h1>
                <p>Don't have an account? <a href="{% url 'account_signup' %}">Register</a></p>
                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <p>
                        <a href="{% url 'account_reset_password' %}">Forgot password?</a>
                    </p>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}