{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Logout</h1>
                <p>Are you sure you want to logout?</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
