{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Register</h1>
                <p>Already have an account? <a href="{% url 'account_login' %}">Login</a></p>
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}