{% extends 'base.html' %}

{% block content %}
    <h1>Friends</h1>

    {% if friends %}
        <h2>My Friends</h2>
        <ul class="list-inline">
            {% for friend in friends %}
                <li>
                    <a class="btn btn-light mb-1" href="{% url 'friends:profile' friend.user.id %}">
                        <img src="{{ friend.image.url }}" height="40" width="40" alt="">
                        {% if friend.name != friend.user.username %}
                            {{ friend.name }} <span class="text-muted">@{{ friend.user.username }}</span>
                        {% else %}
                            @{{ friend.user.username }}
                        {% endif %}                            
                    </a>
                    <a href="{% url 'friends:remove' friend.user.username %}">
                        <button class="btn btn-danger">Remove</button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no friends.</p>
    {% endif %}

    <hr>

    <h2>Add Friend</h2>
    {% if users %}
        <form method="post" action="{% url 'friends:add' %}">
            {% csrf_token %}
            <select name="username">
                {% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <button type="submit">Add</button>
        </form>
        <form action="{% url 'friends:profile_search' %}" method="get">
            <input name="q" type="text" placeholder="Search for Friend">
            <input name="f" type="hidden" value = 'True'> 
        </form>
    {% elif incoming_requests or outgoing_requests%}
        <p>You will be friends with everyone!</p>
    {% else %}
        <p>You are friends with everyone!</p>
    {% endif %}
    <hr>

    <h2>Incoming Friend Requests</h2>
    {% if incoming_requests %}
        <ul>
            {% for request in incoming_requests %}
                <li><a href="{% url 'friends:profile' request.to_profile.user.id %}">{{ request.from_profile.user }}</a>
                    <form method="post" action="{% url 'friends:accept_request' request.id %}">
                        {% csrf_token %}
                        <button type="submit">Accept</button>
                    </form>
                    <form method="post" action="{% url 'friends:decline_request' request.id %}">
                        {% csrf_token %}
                        <button type="submit">Decline</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No incoming friend requests.</p>
    {% endif %}

    <hr>

    <h2>Outgoing Friend Requests</h2>
    {% if outgoing_requests %}
        <ul>
            {% for request in outgoing_requests %}
                <li>Friend request sent to <a href="{% url 'friends:profile' request.to_profile.user.id %}">{{ request.to_profile.user }}</a></li>
                <form method="post" action="{% url 'friends:cancel_request' request.id %}">
                    {% csrf_token %}
                    <button type="submit">Cancel</button>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>No outgoing friend requests.</p>
    {% endif %}

{% endblock %}
