{% extends 'base.html' %}
{% block content %}
    <div>
        <div>
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"style="max-width:5%;max-height: 5%;">
            <a href="{% url 'friends:profile_update_image' %}">change</a>
            <div>
                <h2>{{ user.username }}</h2>
            </div>
        </div>
        <hr>
        <h2>About</h2>
        <p>{{ user.profile.bio }}</p>
        {% if user.profile.bio != '' %}
            <a href="{% url 'friends:profile_update_bio' %}">change</a>
        {% else %}
            <a href="{% url 'friends:profile_update_bio' %}">add</a>
        {% endif %}
        <hr>
        <h2>Friends</h2>
        {% if friends %}
            <ul>
                {% for friend in friends %}
                    <li>{{ friend }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no friends.</p>
        {% endif %}
        <a href="{% url 'friends:list' %}">View Friends Page</a>
        <hr>
        <h2>Points</h2>
        {% if points != 0 %}
            <p>{{ points }}</p>
            <a href="{% url 'tasks:available' %}">Complete more :)</a>
        {% else %}
        <p>You have no points :(</p>
        <a href="{% url 'tasks:available' %}">Complete a task :)</a>
        {% endif %}
    </div>
{% endblock content %}
