{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="content-section">
      {% if form.type == 'profile' %}

      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="max-width:5%;max-height: 5%;">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Update Image" %}
      </form>

      {% elif form.type == 'bio' %}
        {% if user.profile.bio != '' %}
        <h2>Current Bio</h2>
        <p>{{ user.profile.bio }}</p>
        <hr>
        {% endif %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Update Bio" %}
      </form>

      {% endif %}

</div>
{% endblock content %}