[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
tzdata = "*"
pillow = "*"
autoencoder = {path = "./autoencoder/autoencoder-0.1.1-cp310-none-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3"
