[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
tzdata = "*"
pillow = "*"
mug-detect-autoencoder = "*"
factory-boy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
dj-database-url = "*"
gunicorn = "*"
geopy = "*"
better-profanity = "*"
django-allauth = "*"
django-notifications-hq = "*"

[dev-packages]

[requires]
python_version = "3"
