[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
django = "*"
django-bootstrap5 = "*"
tzdata = "*"
pillow = "*"
mug-detect-autoencoder = "*"
factory-boy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
dj-database-url = "*"
gunicorn = "*"
geopy = "*"
better-profanity = "*"
django-allauth = "*"
django-notifications-hq = "*"
torch = {version = "*", index = "downloadpytorch"}
transformers = "*"
django-background-tasks-updated = "*"

[dev-packages]

[requires]
python_version = "3"
