{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sustain and Gain{% endblock %}</title>
    <meta name="title" content="Sustain and Gain">
    <meta name="description"
          content="Sustain and Gain is a fun way to compete with your friends to become the most sustainable person.">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script defer data-domain="sustainandgain.fun" src="https://on.invalidhost.com/js/on.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>

<header class="site-header">
    {% include "_navbar.html" %}
</header>

<main role="main" class="container-fluid">
    <div class="position-fixed bottom-0" style="z-index: 2000;">
        {% bootstrap_messages %}
    </div>
    <div class="w-100">
        {% block content %}{% endblock %}
    </div>
</main>

{% if user.is_authenticated %}
    <footer class="site-footer bottom-0 position-fixed w-100">
        {% include "components/footer.html" %}
    </footer>
{% endif %}
</body>
</html>