{% extends 'base.html' %}

{% block content %}
<div class="chat-container">
    <div class="submitted-messages-container">
      <div>
        {% for message in submitted_messages reversed %}
          <div class="message">
            <span class="timestamp">{{ message.timestamp|date:'SHORT_DATETIME_FORMAT' }}</span>
            <!-- <img src="{{ profile.image.url }}" height="50" width="50" class="rounded-circle"> -->
            <strong>{{ message.author.username }}:</strong>
            {{ message.content|linebreaksbr }}
          </div>
        {% empty %}
          <p>No messages yet.</p>
        {% endfor %}
      </div>
    </div>
    <div class="chat-input-container">
      <form method="post" id="chat-form">
        {% csrf_token %}
        {{ form.content }}
      </form>
    </div>
  </div>
  <script>

    var submittedMessagesContainer = document.querySelector('.submitted-messages-container');
    submittedMessagesContainer.scrollTop = submittedMessagesContainer.scrollHeight;

    var chatForm = document.getElementById('chat-form');
    var messageInput = document.getElementById('id_content');
    messageInput.addEventListener('keydown', function(event) {
      if (event.keyCode === 13 && !event.shiftKey) { // Check if Enter key was pressed without Shift key
        event.preventDefault();
        var messageContent = messageInput.value.trim();
        if (messageContent) {
          var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
          var xhr = new XMLHttpRequest();
          xhr.open('POST', chatForm.action);
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.setRequestHeader('X-CSRFToken', csrfToken);
          xhr.onload = function() {
            if (xhr.status === 200) {
              messageInput.value = '';
              fetchSubmittedMessages(); // Fetch latest submitted messages
            }
          };
          xhr.send('content=' + encodeURIComponent(messageContent));
        }
      }
    });

    function fetchSubmittedMessages() {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', chatForm.action);
      xhr.onload = function() {
        if (xhr.status === 200) {
          var parser = new DOMParser();
          var html = parser.parseFromString(xhr.response, 'text/html');
          var submittedMessagesContainer = html.querySelector('.submitted-messages-container');
          var currentSubmittedMessagesContainer = document.querySelector('.submitted-messages-container');
          currentSubmittedMessagesContainer.innerHTML = submittedMessagesContainer.innerHTML;
        }
      };
      xhr.send();
    }

    // Fetch submitted messages on page load
    fetchSubmittedMessages();

    // Update the submitted messages every second
    setInterval(fetchSubmittedMessages, 1000);
  </script>
{% endblock %}
