{% extends 'base.html' %}

{% block title %}Task Feed{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Logged in as {{ user.username }}
        <div>
            <a href="{% url 'friends:profile' %}">Profile</a>
            <a href="{% url 'friends:list' %}">Friends</a>

            <h1>Feed of Completed Tasks</h1>
            <div class="row">
                {% for task_inst in completed_tasks %}
                    {% include 'feed/_feed_task.html' with status=task_inst.status status_color=task_inst.status_colour username=task_inst.profile.user time_completed=task_inst.time_completed user_photo=task_inst.photo user_note=task_inst.note title=task_inst.task.title description=task_inst.task.description points=task_inst.task.points %}
                {% endfor %}
            </div>
        </div>
        <br />
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'accounts:register' %}">Register</a>
    {% endif %}
{% endblock %}