<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Sustain and Gain</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Tasks
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'tasks:list' %}">My Tasks</a></li>
                            <li><a class="dropdown-item" href="{% url 'tasks:available' %}">Available Tasks</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        {% load incoming_requests %}
                        {% get_friend_requests user.profile as friend_requests %}
                        {% if friend_requests %}
                            <a class="nav-item nav-link" href="{% url 'friends:list' %}">Friends
                                ({{ friend_requests }})</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'friends:list' %}">Friends</a>
                        {% endif %}
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            {% load poll_extras %}
                            {% if get_reported_count %}
                                <a class="nav-item nav-link" href="{% url 'feed:reported' %}">Reported Tasks
                                    ({% get_reported_count %})</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'feed:reported' %}">Reported Tasks</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'leagues:list' %}">Leagues</a>
                </li>
            </ul>
            <ul class="navbar-nav me-right mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="btn btn-success text-white nav-item nav-link" href="{% url 'admin:index' %}">Gamekeeper
                                Area</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'friends:profile' user.pk %}">{{ user.username }}</a>
                    </li>
                    {% include 'notifications/_notifications_dropdown.html' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"> Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}"> Register </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>