<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Sustain and Gain</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Tasks
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'tasks:list' %}">My Tasks</a></li>
                            <li><a class="dropdown-item" href="{% url 'tasks:available' %}">Available Tasks</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        {% load incoming_requests %}
                        {% get_friend_requests user.profile as friend_requests %}
                        {% if friend_requests %}
                            <a class="nav-item nav-link" href="{% url 'friends:list' %}">Friends ({{ friend_requests }})</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'friends:list' %}">Friends</a>
                        {% endif %}
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            {% load poll_extras %}
                            {% if get_reported_count %}
                                <a class="nav-item nav-link" href="{% url 'feed:reported' %}">Reported Tasks
                                    ({% get_reported_count %})</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'feed:reported' %}">Reported Tasks</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'leagues:list' %}">Leagues</a>
                </li>
            </ul>
            <ul class="navbar-nav me-right mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="btn btn-success text-white nav-item nav-link" href="{% url 'admin:index' %}">Gamekeeper
                                Area</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'friends:profile' user.pk %}">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <!-- Only show the notifications bell if the user is logged in and has notifications to display -->
                        {% load notifications_extras %}
                        {% get_unread_count user as notifications_count %}
                        {% if notifications_count %}
                            <a class="nav-item nav-link" href="./?notifications=true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill text-success" viewBox="0 0 16 16">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                </svg>
                                <span class="badge bg-success">{{ notifications_count }}</span>
                            </a>
                        {% else %}
                            <a class="nav-item nav-link" href="./?notifications=true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                                </svg>
                            </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"> Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}"> Register </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- If the user is logged in, and the notifications flag is set, load _notifications.html" -->
{% if user.is_authenticated and 'notifications' in request.GET and request.GET.notifications == 'true' %}
    {% include '_notifications.html' %}
{% endif %}