{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sustainability Project{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script defer data-domain="sustainandgain.fun" src="https://on.invalidhost.com/js/on.js"></script>
</head>
<body>

<header class="site-header">
    {% include "_navbar.html" %}
</header>

<main role="main" class="container-fluid">
    <div class="position-fixed bottom-0" style="z-index: 2000;">
        {% bootstrap_messages %}
    </div>
    <div class="w-100">
        {% block content %}{% endblock %}
    </div>
</main>

</body>
</html>