{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}{{ league }} Invites{% endblock %}

{% block content %}
    <div class="container">
        <h1>Invite a new member to {{ league }}</h1>

        <div class="container">
            <form action="{% url 'leagues:invite' league.id %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Invite</button>
            </form>
        </div>

        <div class="mt-2">
            <h2>Invited Members</h2>
            {% if invited_members %}
                <p>These people have been invited to join {{ league }}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in invited_members.all %}
                        <tr>
                            <td>{{ member.profile.user.username }}</td>
                            <td>
                                <form action="{% url 'leagues:remove' league.id member.profile.user.username %}"
                                      method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Cancel Invite</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>There are no invited members</p>
                <a href="{% url 'leagues:detail' league.id %}" class="btn btn-primary">Back</a>
            {% endif %}
        </div>
    </div>
{% endblock %}