{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}{{ league }} Requests{% endblock %}

{% block content %}
    <div class="container">
        <h2>Pending Members</h2>
        {% if pending_members %}
            <p>These people have requested to join {{ league }}</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for member in pending_members.all %}
                    <tr>
                        <td>{{ member.profile.user.username }}</td>
                        <td>
                            <div class="btn-group">
                                <div class="mx-1">
                                    <form action="{% url 'leagues:invite' league.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="username" value="{{ member.profile.user.username }}">
                                        <button type="submit" class="btn btn-success">Accept</button>
                                    </form>
                                </div>
                                <div class="mx-1">
                                    <form action="{% url 'leagues:remove' league.id member.profile.user.username %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Reject</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are no pending members</p>
            <a href="{% url 'leagues:detail' league.id %}" class="btn btn-primary">Back</a>
        {% endif %}
    </div>
{% endblock %}