{% extends 'base.html' %}

{% block title %}{{ league }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between my-auto mt-2">
            <h1>{{ league }}</h1>
            <div class="my-auto">
                {% if admin %}
                    <div class="border p-1 border-3 border-danger rounded">
                        <div>
                            {% if pending_members %}
                                <a href="{% url 'leagues:pending' league.id %}" class="btn btn-success">
                                    {{ pending_members.count }} Request{{ pluralize }}
                                </a>
                            {% endif %}
                            <a href="{% url 'leagues:invite' league.id %}" class="btn btn-primary">Invite Members</a>
                            <a href="{% url 'leagues:delete' league.id %}" class="btn btn-danger">Delete League</a>
                        </div>
                    <p class="text-muted m-0">You cannot leave while admin</p>
                    </div>
                {% elif is_member %}
                    <form action="{% url 'leagues:leave' league.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Leave</button>
                    </form>
                {% elif is_pending %}
                    <p class="m-0">You have requested to join {{ league }}</p>
                    <form action="{% url 'leagues:leave' league.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cancel Request</button>
                    </form>
                {% elif is_invited %}
                    <p class="m-0">You have been invited!</p>
                    <div class="btn-group">
                        <div class="mx-1">
                            <form action="{% url 'leagues:join' league.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                        </div>
                        <div class="mx-1">
                            <form action="{% url 'leagues:leave' league.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Decline</button>
                            </form>
                        </div>
                    </div>
                {% elif not league.invite_only %}
                    <form action="{% url 'leagues:join' league.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Join</button>
                    </form>
                {% else %}
                    <form action="{% url 'leagues:join' league.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Request to Join</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <p>{{ league.description }}</p>

        <h2>Members</h2>
        {% if is_public or is_member or is_invited %}
            <table class="table">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Points</th>
                    {% if admin %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for member in members %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ member.profile.user.username }}</td>
                        <td>{{ member.total_points }}</td>
                        {% if admin %}
                            <td>
                                {% if member.profile != user.profile %}
                                    <form action="{% url 'leagues:remove' league.id member.profile.user.username %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Kick</button>
                                    </form>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This league is private. Request to join to view members.</p>
        {% endif %}
    </div>
{% endblock %}