{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1>My Leagues</h1>
            {% for league in user_leagues %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title">{{ league }}</h2>
                        <p class="card-text">{{ league.description }}</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">{{ league.members.count }}
                                member{{ league.members.count|pluralize }}</li>
                            <li class="list-inline-item"><a href="#" class="btn btn-primary">View</a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <h1>Public Leagues</h1>
        {% if leagues %}
            {% for league in leagues %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title">{{ league }}</h2>
                        <p class="card-text">{{ league.description }}</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">{{ league.members.count }}
                                member{{ league.members.count|pluralize }}</li>
                            <li class="list-inline-item"><a href="#" class="btn btn-primary">View</a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No public leagues available</p>
        {% endif %}
    </div>
{% endblock content %}