{% extends 'base.html' %}
{% load static %}

{% block title %}Leagues - Sustain+Gain{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <div class="d-flex flex-row sm:flex-column justify-content-between my-2">
                <h1>My Leagues</h1>
                <div class="my-auto">
                    <a href="{% url 'leagues:create' %}" class="btn btn-success">+ New League</a>
                </div>
            </div>
            {% if user_leagues %}
                <div class="row row-cols-1 overflow-auto" style="max-height: 15rem;">
                    {% for league in user_leagues %}
                        <div class="col card m-2" style="width: 18rem;">
                            <div class="card-body">
                                <h2 class="card-title">{{ league }}</h2>
                                <p class="card-text">{{ league.description }}</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">{{ league.get_members.count }}
                                        member{{ league.get_members.count|pluralize }}</li>
                                    <li class="list-inline-item"><a href="{% url 'leagues:detail' league.id %}"
                                                                    class="btn btn-primary">View</a></li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>You are not a member of any leagues</p>
            {% endif %}
        {% endif %}
        <hr>
        {% if invited_leagues %}
            <h1>Invites</h1>
            <div class="row row-cols-1 overflow-auto" style="max-height: 15rem;">
                {% for league in invited_leagues %}
                    <div class="col card m-2 invited-league" style="width: 18rem;">
                        <div class="card-body">
                            <h2 class="card-title">{{ league }}</h2>
                            <p class="card-text">{{ league.description }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">{{ league.get_members.count }}
                                    member{{ league.get_members.count|pluralize }}</li>
                                <li class="list-inline-item"><a href="{% url 'leagues:detail' league.id %}"
                                                                class="btn btn-primary">View</a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
        {% endif %}
        <h1>Public Leagues</h1>
        {% if leagues %}
            <div class="row row-cols-1 overflow-auto" style="max-height: 15rem;">
                {% for league in leagues %}
                    <div class="col card m-2" style="width: 18rem;">
                        <div class="card-body">
                            <h2 class="card-title">{{ league }}</h2>
                            <p class="card-text">{{ league.description }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">{{ league.get_members.count }}
                                    member{{ league.get_members.count|pluralize }}</li>
                                <li class="list-inline-item"><a href="{% url 'leagues:detail' league.id %}"
                                                                class="btn btn-primary">View</a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No public leagues available</p>
        {% endif %}
        {% if pending_leagues %}
            <hr>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Pending Leagues
                </a>

                <ul class="dropdown-menu">
                    {% for league in pending_leagues %}
                        <li><a class="dropdown-item" href="{% url 'leagues:detail' league.id %}">{{ league }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        {% endif %}
    </div>
    <script>
        if (window.location.search === '?tour=leagues') {
            document.querySelector('.messages').remove();
            window.onload = function () {
                document.cookie = "tour=leagues; path=/; max-age=31536000";
                introJs().setOptions({
                    dontShowAgain: true,
                    dontShowAgainLabel: 'Skip walkthrough',
                    nextToDone: true,
                    doneLabel: 'Next',
                    scrollToElement: false,
                    steps: [{
                        title: '<img src="{% static 'SusSteve.png' %}" alt="" width="60" height="60" style="margin-right:1em">' + 'Leagues',
                        intro: 'Leagues are a way to compete with your friends. You can create your own league, or join an existing one.',
                    },
                        {
                            title: '<img src="{% static 'SusSteve.png' %}" alt="" width="60" height="60" style="margin-right:1em">',
                            intro: 'A league can either be public or private. Public leagues are visible to everyone, and anyone can join unless invite-only. Private leagues are only visible to members, and you must be invited to join.',
                        },
                        {
                            title: '<img src="{% static 'SusSteve.png' %}" alt="" width="60" height="60" style="margin-right:1em">',
                            intro: 'I have invited you to my league! Click to view it.',
                            element: document.querySelector('.invited-league'),
                        }
                    ]
                }).oncomplete(function () {
                    let a = document.querySelector('.invited-league a');
                    window.location.href = a.href;
                }).start();
            }
        }
    </script>
{% endblock content %}