{% extends 'base.html' %}

{% block title %}Task Feed{% endblock %}

{% block content %}
    <div class="container">
        {% if friend_tasks %}
            <div class="row">
                {% for task in friend_tasks %}
                    {% include 'components/feed_task.html' with task=task %}
                {% endfor %}
            </div>
            </div>
        {% else %}
            <p>Be the first to complete a task!</p>
            <a class="btn btn-success" href="{% url 'tasks:list' %}">My Tasks</a>
        {% endif %}
{% endblock %}