<nav class="navbar navbar-expand navbar-light mx-2">
    <div class="container-fluid mx-auto" style="max-width: 50em;">
        <div class="navbar-nav d-flex justify-content-between align-items-center w-100 fs-1">
            <a class="nav-link p-0 m-0 d-flex flex-column" aria-current="page" href="{% url 'feed:feed' %}">
                <i class="bi-collection-fill mx-auto {% if request.resolver_match.namespaces.0 == "feed" %}active{% endif %}"></i>
            </a>
            <a class="nav-link p-0 m-0 d-flex flex-column" href="{% url 'tasks:list' %}">
                <i class="bi-card-checklist mx-auto {% if request.resolver_match.namespaces.0 == "tasks" %}active{% endif %}"></i>
            </a>
            <a class="nav-link p-0 m-0 d-flex flex-column" href="{% url 'leagues:list' %}">
                <i class="bi-award-fill mx-auto {% if request.resolver_match.namespaces.0 == "leagues" %}active{% endif %}"></i>
            </a>
            <a class="nav-link p-0 m-0 d-flex flex-column" href="{% url 'friends:list' %}">
                <i class="bi-people-fill mx-auto {% if request.resolver_match.namespaces.0 == "friends" %}active{% endif %}"></i>
            </a>
            <a class="nav-link p-0 m-0 d-flex flex-column" href="#" x-data="getNotifications">
                <i class="bi-bell-fill mx-auto {% if request.resolver_match.namespaces.0 == "notifications" %}active{% endif %}">
                 <span x-cloak x-text="notificationCount"
                       class="position-absolute translate-middle badge rounded-pill bg-danger fs-6"
                       x-show="notificationCount > 0">
                 </span>
                </i>
            </a>
        </div>
    </div>
</nav>

<style>
    i {
        color: #ffffff;
    }

    i.active {
        color: var(--bs-primary);
    }
</style>