{% extends 'base.html' %}
{% load static %}
{% block content %}
  <input type="file" accept="image/*" capture="environment" onchange="handlePhoto(this)"/> {% csrf_token %}
  <script>

    function imageToDataUri(img, width, height) {

      // create an off-screen canvas
      var canvas = document.createElement('canvas'),
          ctx = canvas.getContext('2d');

      // set its dimension to target size
      canvas.width = width;
      canvas.height = height;

      // draw source image into the off-screen canvas:
      ctx.drawImage(img, 0, 0, width, height);

      // encode image to data-uri with base64 version of compressed image
      return canvas.toDataURL();
    }


    function handlePhoto(input) {
      let file = input.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function() {
        let base64String = reader.result;

        var img = new Image;

        img.onload = resizeImage;
        img.src = base64String;

        function resizeImage() {
          var newDataUri = imageToDataUri(this, 500, Math.round((500 / img.width) * img.height));
          
          const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
          const xhr = new XMLHttpRequest();
          xhr.open('POST', '/tasks/take-photo/');
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.setRequestHeader('X-CSRFToken', csrfToken);
          xhr.onreadystatechange = () => {
            if (xhr.readyState === 4 && xhr.status === 200) {
              console.log(xhr.responseText);
            }
          };
          let response = xhr.send(`image_data=${encodeURIComponent(newDataUri)}`);
        }
      }

    }

  </script>
{% endblock %}